body {
  color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.inventories .inventory .title {
  font-size: 1.2em;
}

.inventories .inventory .number {
  font-size: 1em;
}

.inventories .inventory .date {
  font-size: 1em;
}

.inventories .inventory .diff {
  font-size: 1em;
}

